* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#contact {
	background: linear-gradient(0deg, rgba(255, 203, 22, 0.27), rgba(255, 203, 22, 0.27)), url(../images_contact/top_background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.contact-wrapper {
	position: relative;
	top: 2em;
}
.contact-wrapper h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 76px;
	text-align: center;
	letter-spacing: 0.002em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.571332) 46.69%, #FFFFFF 82.63%);
    padding: 2em 0;
}

.helper-info {
	background: #fff;
	padding-bottom: 3em;
}

.location h2,
.helper-info h2 {
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.002em;
}

.helper-info p {
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.002em;
	width: 55%;
	margin: 0 auto;
}

.location,
.contact-form {
	background: #fff;
	padding: 2em;
}

.contact-form label{
	display: none;
}

.contact-form > .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}

input,
textarea {
	width: 40%;
	margin-bottom: 1em;
	padding: 0.5em 1em;
}

.contact-form input:nth-child(n + 5),
textarea {
	width: 100%;
}

.location iframe {
	width: 100%;
	margin-top: 1.5em;
}